---
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import siteData from "@config/siteData.json";
import { Icon } from "astro-icon/components";

import FooterLink from "./FooterLink.astro";

const today = new Date();
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
	<div class="site-container">

		<!-- lets connect -->
		<div class="description mx-auto mt-6 max-w-[21rem] px-4 text-center">
			<p>
				<span class="italic">Retrouvez moi sur mes réseaux !</span>
			</p>
		</div>

		<!-- socials -->
		<div class="text-primary-500 mt-8 flex justify-center gap-4">
			<a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/basil-instagram-solid" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Instagram</span>
			</a>
			<a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/mdi-facebook" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Facebook</span>
			</a>
		</div>
	</div>
</footer>
